h2 {
  /* font-family: Lato; */
  font-size: 23px;
  line-height: 34px;
  text-align: center;
  color: #920029;
  width: 800px;
  text-align: center;
}

h3 {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.0056em;
  text-transform: uppercase;
  color: #920029;
}

.statement {
  color: #920029;
  text-align: center;
  width: 100%;
  max-width: 800px;
  font-size: 23px;
  line-height: 1.5em;
  margin: auto;
  float: none;
  clear: both;
}

.statement:after {
  clear: both;
  display: table;
  width: 80px;
  border-bottom: 3px solid #920029;
  content: "";
  margin: auto;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

h4 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.0048em;
  text-transform: uppercase;
  color: #920029;
}

p {
  line-height: 28px;
}

ol.custom {
  list-style-type: none;
  margin: 30px 0 0 0;
  padding:0;
}

ol.custom > li {
  counter-increment: customlistcounter;
  line-height: 1.5;
  /* position: relative; */
  /* right: 30px; */
}

ol.custom > li:before {
  content: counter(customlistcounter) " ";
  font-weight: bold;
  display: inline-block;
  height: 36px;
  width: 36px;
  line-height: 36px;
  position: relative;
  margin: 0 10px 20px 0;
  border-radius: 18px; /* or 50% */
  background-color: #920029;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

@media screen and (max-width: 1095px) {
  .columns ol.custom >li:last-child {
    line-height: 28px;
  }
}

.traditional-column div {
  line-height: 30px;
  margin-bottom: 4px;
}

.traditional-column input {
  padding: 8px;
}

ol.custom:first-child {
  counter-reset: customlistcounter;
}

.columns {
  display: flex;
  flex-flow: row wrap; 
}

.traditional-column, 
.egift-column {
  width: calc(50% - 30px);
  margin: 0px 15px;
  background-color: #fafafa;
  box-sizing: border-box;
  padding: 30px;
}

.informative {
  background-color: #E7DCC4;
  padding: 8px 30px; 
  margin: 0 -30px;
}


span.circle-numbers {
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;

  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */

  background-color: #920029;
  color: white;
  text-align: center;
  font-size: 2em;
}

.order-info {
  display: flex;
}

.amount-column {

}

.quantity-column {
  margin-left: 20px;
}

.order-button {
  padding: 8px 100px;
  background-color: #920029;
  color: #FFFFFF;
  margin-top: 10px;
}

.order-button :hover {
  background-color: #FFFFFF;
  color: #920029;
}
.centered-text {
  width: 800px;
  margin: auto;
  text-align: center;
}

.question {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  margin-right: 15px;
}

.narrow-button {
  padding: 8px 50px;
  background-color: #920029;
  color: #FFFFFF;
}

.narrow-button :hover {
  background-color: #FFFFFF;
  color: #920029;
}

/* Media Queries */
@media screen and (max-width: 1095px) {
  .columns ol.custom >li:last-child {
    line-height: 28px;
  }
}

@media screen and (max-width: 1015px){
  .egift-column .traditional-column {
    margin: auto;
  }
  .columns ol.custom >li:last-child {
    line-height: 60px;
  }
}

@media screen and (max-width: 550px) {
  .columns ol.custom >li:last-child {
    line-height: 28;
}
